<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "us.thedevbox.RemoteExample"
        versionCode="10" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Mobile Class Final</name>

    <description>
        This is the site for the Mobile Class Final
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        M White
    </author>

    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->

    <icon src="icon.png" />

</widget>